DEBUG=true
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-app-password
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
DEFAULT_FROM_EMAIL=Kampala Early Bird - Rotary Club <no-reply@example.com>
EMAIL_LOGO_URL=https://lh7-rt.googleusercontent.com/formsz/AN7BsVCO555mykrJa8wCgSU-sThPvkxoibc8l-neYhaOTUhQcnW0prdoJ86WW1p0PYIRJIHYY3Z47nm4FIj367YJhoJdrB45NLmHimCyJmYpftIeTxktm9Kbq6_eEGLSQZixjuBOK5Owi9-j-tBJk43mlhZc6blCep6T347ne0R6Dhz44zxoJFpE_jlYhXSmL9gnQEzuFy8KyV3hJj3n=w1080?key=3xl6ABnanH7cOznxJpMnqA
SYSTEM_BASE_URL=http://127.0.0.1:8000
